.breadcrumbs {
    font-size: 16px;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 3px; 
}

.breadcrumbs img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.breadcrumbs a {
    text-decoration: none;
    margin: 0;
    color: #6a11cb;
    font-weight: bold;
    transition: color 0.3s ease;
}

.breadcrumbs a:hover {
    color: #8a2be2;
}

.breadcrumbs span {
    color: #555;
}